<div class="container mt-3">
  <form
    class="row row-cols-lg-auto g-3 align-items-center"
    method="post"
    action="/signup"
  >
    <div class="col-12">
      <label
        class="visually-hidden"
        for="inlineFormInputGroupUsername"
      >Username</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="inlineFormInputGroupUsername"
          placeholder="Username"
          name="username"
        />
      </div>
    </div>
    <div class="col-12">
      <label
        class="visually-hidden"
        for="inlineFormInputGroupUsername"
      >Password</label>
      <div class="input-group">
        <input
          type="password"
          class="form-control"
          id="inlineFormInputGroupPassword"
          placeholder="Password"
          name="password"
        />
      </div>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-secondary">Submit</button>
    </div>
  </form>
</div>